<!DOCTYPE html>
<html>
<head>
    <title>User Management</title>
    <style>
        html {
            font-family: Arial, Helvetica, sans-serif;
            width: 60%;
            margin: auto;
        }

        h1 {
            color: #048186;
        }

        input[type=text], select {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        input[type=submit] {
            width: 100%;
            background-color: #04a4aa;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        input[type=submit]:hover {
            background-color: #04a4aa;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        table td, table th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        table tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        table tr:hover {
            background-color: #ddd;
        }

        table th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #04a4aa;
            color: white;
        }
    </style>
</head>
<body>

{% for message in app.flashes('success') %}
    <div>
        {{ message }}
    </div>
{% endfor %}
{% for message in app.flashes('fail') %}
    <div>
        {{ message }}
    </div>
{% endfor %}

<h1>Add user form</h1>
{{ form_start(form) }}

    {{ form_label(form.firstName) }}
    {{ form_widget(form.firstName) }}
    {% if errors['firstName'] is defined %}
        <li>{{ errors['firstName'] }}</li>
    {% endif %}

    {{ form_label(form.lastName) }}
    {{ form_widget(form.lastName) }}
    {% if errors['lastName'] is defined %}
        <li>{{ errors['lastName'] }}</li>
    {% endif %}

    {{ form_label(form.address) }}
    {{ form_widget(form.address) }}
    {% if errors['address'] is defined %}
        <li>{{ errors['address'] }}</li>
    {% endif %}
    <input type="submit" value="Add user">
{{ form_end(form) }}

<h1>User list</h1>

<table>
    <tr>
        <th>User</th>
        <th>Address</th>
        <th>Delete</th>
    </tr>
    {% for user in users %}
        <tr>
            <td>{{ user.firstName }} {{ user.lastName }}</td>
            <td>{{ user.address }}</td>
            <td>
                <form action="{{ url('user_delete', { userId: user.id }) }}" method="post">
                    <input type="hidden" name="token" value="{{ csrf_token('delete-item') }}">
                    <button type="submit">Delete</button>
                </form>

            </td>
        </tr>
    {% endfor %}
</table>

</body>
</html>

